.header {
  display: flex;         
  align-items: center;       
  justify-content: center;    
  gap: 40px;                  
  font-size: 24px;
  padding: 10px;
  text-align: center;  
}

.input-box {
  text-align: left;
  height: auto;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;  

}
.singup {
    text-align: center;
    display: block;   

}
.errorMessage {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  height: 16px; 
}